{% extends 'layout.html' %}

{% block head %}
<title>index | asanreserve</title>
{% endblock %}

{% block body %}
{% load static %}
<h1>Index Page</h1>
<div>
    {% if not request.user.is_authenticated %}

    <h3>Login</h3>
    <form method="POST">{% csrf_token %}
        <input type="text" name="username" required="" id="id_username" placeholder="Username">
        <input type="password" name="password" required="" id="id_password" placeholder="Password">

        <button type="submit">Login</button>

    </form>

    {% else %}

    <h3>Menu</h3>
    <ul>
        <li><a href="/logout">Logout</a></li>
    </ul>

    {% endif %}
</div>

{% endblock %}
