{% extends 'layout.html' %}

{% block head %}
<title>login | asanreserve</title>
{% endblock %}

{% block body %}
{% load static %}
<div class="container">
    <h1>Login</h1>
    <div>
        <form method="POST">{% csrf_token %}
            <input type="text" name="username" required="" id="id_username" placeholder="Username">
            <input type="password" name="password" required="" id="id_password" placeholder="Password">

            <button type="submit">Login</button>

        </form>
    </div>

</div>

{% endblock %}