{% extends 'layout.html' %}

{% block head %}
<title>travel | asanreserve</title>
{% endblock %}

{% block body %}
{% load static %}

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="card" style="width: 18rem; padding-bottom: 50px;">
                <div class="card-header">
                    {{ travel.vehicle.vehicle_type }}
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">time: {{ travel.datetime }}</li>
                    <li class="list-group-item">origin: {{ travel.origin }}</li>
                    <li class="list-group-item">destination: {{ travel.destination }}</li>
                    <li class="list-group-item">{{ travel.is_two_way|yesno:"two way,one way" }}</li>
                    <li class="list-group-item">price: {{ travel.price }}T</li>
                    <li class="list-group-item">capacity: {{ travel.vehicle.capacity }}</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card" style="width: 18rem; padding-bottom: 50px;">
                <div class="card-header">
                    ticket information
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">ticket id: {{ ticket.id }}</li>
                    <li class="list-group-item">name: {{ ticket.buyer_name }}</li>
                    <li class="list-group-item">phone: {{ ticket.buyer_phone }}</li>
                    <li class="list-group-item">seat number: {{ ticket.seat_number }}</li>

                </ul>
                <input type="button" value="Print this page" onClick="window.print()">

            </div>
        </div>
    </div>

</div>

{% endblock %}