{% extends 'layout.html' %}

{% block head %}
<title>travels | asanreserve</title>
{% endblock %}

{% block body %}
{% load static %}

<div class="container">
    <div class="row">
        {% for travel in travels %}
        <div class="col-lg-3">
            <div class="card" style="width: 18rem; padding-bottom: 50px;">
                <div class="card-header">
                    {{ travel.vehicle.vehicle_type }}
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">time: {{ travel.datetime }}</li>
                    <li class="list-group-item">origin: {{ travel.origin }}</li>
                    <li class="list-group-item">destination: {{ travel.destination }}</li>
                    <li class="list-group-item">{{ travel.is_two_way|yesno:"two way,one way" }}</li>
                    <li class="list-group-item">price: {{ travel.price }}T</li>
                </ul>
                <a href="{% url 'travel' id=travel.id %}" class="btn btn-primary">Buy ticket</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}