{% extends 'layout.html' %}

{% block head %}
<title>travel | asanreserve</title>
{% endblock %}

{% block body %}
{% load static %}

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="card" style="width: 18rem; padding-bottom: 50px;">
                <div class="card-header">
                    {{ travel.vehicle.vehicle_type }}
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">time: {{ travel.datetime }}</li>
                    <li class="list-group-item">origin: {{ travel.origin }}</li>
                    <li class="list-group-item">destination: {{ travel.destination }}</li>
                    <li class="list-group-item">{{ travel.is_two_way|yesno:"two way,one way" }}</li>
                    <li class="list-group-item">price: {{ travel.price }}T</li>
                    <li class="list-group-item">capacity: {{ travel.vehicle.capacity }}</li>

                </ul>
            </div>
        </div>
        <div class="col-lg-3">
            <h1>Ticket Form</h1>
            <div>
                <form method="POST">{% csrf_token %}
                    <input hidden name="new_travel" type="text">

                    <input type="datetime" id="datetimeid" name="datetime" required placeholder="date and time" value="{{ travel.datetime }}">
                    <input type="text" name="origin" required placeholder="origin" value="{{ travel.origin }}">
                    <input type="text" name="destination" required placeholder="destination" value="{{ travel.destination }}">
                    <span>
                        two whay
                        <input type="checkbox" name="is_two_way" id="" {{ travel.is_two_way|yesno:"checked," }}>
                    </span>
                    <input type="number" name="price" required placeholder="price" value="{{ travel.price }}">
                    <select name="vehicle">
                        {% for vehicle in vehicles %}
                        <option value="{{ vehicle.id }}">{{ vehicle.plaque }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit">Submit</button>

                </form>

            </div>

        </div>
    </div>

</div>

{% endblock %}